<h3>Doctors</h3>
<%#= select("Specialist", "person_id", Doctor.all.collect {|p| [ p.specialist, p.specialist ] }, { include_blank: true },id: ) %>
</br>
<%= select_tag 'specialist', options_for_select(Doctor.all.map(&:specialist).uniq), {prompt: "select specialist", class: "specalist", :id => "new_doctor"} %>
<br>
<div id="specialist_list">
  <%= render :partial => "doctor", :locals => {:doctors => @doctors } %>  
</div>
<br>



<script type="text/javascript">
 $(function(){
  $(".specalist").on('change',function(){
    specialist = $(this).val();
    $.ajax({
      url: "/doctors/update_specialist",
      data: {specialist: specialist},
      success:function(data){
      }
    }).error(function(){alert('An error occured');
    });
  });
 });
 
 $(function(){

 });
</script>
