<!DOCTYPE html>
<html>
  <head>
    <title>DocPatientApp</title>
    <%= javascript_include_tag 'front_page'%>
    <%= stylesheet_link_tag    'front_page'%>
  </head>
  <body>  
    <% if current_page? {controller[:user] %>
  </body>
</html>
